<div id="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>個人簡介</h3></div>
        <div class="panel-body">
          <p>
            嗨，我又來參加軟體工程師扶持計畫了　<br />
            我的習慣是追求卓越以及進步，認為所經歷過的事情可以都是學習的經驗。參與第一次軟體工程師扶持計畫的我，就算現在已有前端工程師正職，也依舊在工作之餘不斷思考自己可以如何進步。　<br />
            我的目標是未來旅外進行工作，為此進行了Side
            Project的計畫與LeetCode的安排，在Follow彭彭老師的影片時，得知道第3屆計畫即將啟動，在第二階段後因為家人與疫情雙重驟變的狀況下，已經無法分身乏術不得不提前結束計畫的我，想藉此機會正式成為計畫畢業生，現行工作使用Angular的同時，學習並實作React全端技術。<br />
            不斷的刺激思考以及增加的技術儲備，誠如稍早所說，追求進步是我的習慣，讓我停滯不前實在是太難受了XD。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>過往經歷</h3></div>
        <div class="panel-body">
          <p>
            曾經為了切換跑道，不斷的利用下課與下班後的時間至台大資訊系統推廣班上課，也是在這個機會認識到彭彭老師並參與第一次的軟體工程師扶持計畫
            <br />
            在第二階段後與協助處理好疫情下家中白事，已然畢業3個月的我再等當兵前有幸藉著計畫中台北一日遊專案進入到一家廣告行銷公司並負責以下專案
          </p>
          <div class="row">
            <div class="col-xs-4">
              <h5>老行家廣告活動頁</h5>
              <div class="imgBox LHK"></div>
              <p [style]="{ 'font-weight': 900 }">*非當事活動頁面</p>
            </div>
            <div class="col-xs-4">
              <a href="https://www.tokiya.com.tw/event/2021book/index.html">
                <h5>陶板屋公益活動頁</h5>
                <div class="imgBox tokiya"></div>
              </a>
            </div>
            <div class="col-xs-4">
              <h5>國泰世華競技場</h5>
              <div class="imgBox Cathay"></div>
              <p [style]="{ 'font-weight': 900 }">*非當事活動照片</p>
            </div>
            <div class="col-xs-12">
              <a
                href="https://retirement.taipeifubon.com.tw/retireEvent/?utm_source=kw&utm_medium=url&utm_campaign=retirement0101_02"
              >
                <h5>富邦富樂退</h5>
                <div class="imgBox fubon"></div>
              </a>
            </div>
          </div>
          <p>
            當兵前的這個工作經歷，使用了Vue、Jquery、Bootstrap、Pug進行開發，並在部分專案中使用爬抓取FBHTag貼文進行行銷抽獎活動
          </p>
          <p>
            退伍後，藉著以上專案內容到了目前的公司並在試用期間琢磨學習以Angular實作公司官網。現行也正在不斷的開發公司既有專案與嘗試新技術中
          </p>
          <div class="row">
            <div class="col-xs-12">
              <a href="https://www.kunyoutech.com.tw/#/home">
                <div class="imgBox KYW"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>學習計畫</h3></div>
        <div class="panel-body">
          <p>
            利用下班後做完家事的瑣碎時間大約20:00至22:00的時間，複習與整理所學項目，就算每天開發的項目不多，小跑步前進也能跑出很長的距離。主要學習與開發主力時間周六周日的個人時間，其實與現在的個人生活作息沒有什麼太大的差別就是了XD。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>未來願景</h3></div>
        <div class="panel-body">
          <p>
            未來我要前往加拿大或是日本工作，個人喜歡冰天雪地的感覺，也透過Soft-Job版與台灣開發者在澳洲DC群了解到相關工作旅外的福利待遇較台灣來的稍稍優渥，在家人的支持與鼓勵下會透過GlassesDoor、LinkedIn在技術純熟符合當地職缺需求後努力往外衝。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>最困難的事</h3></div>
        <div class="panel-body">
          <p>
            因為疫情然後家裡面長輩過世吧，但明明自己也正在忙著論文收尾與研究計畫的結案，同時，還有最重要的扶持計畫的培訓內容。最終不得不面對親口跟老師請求第三階段無法跟上大家腳步與未達自身要求目標的挫敗感。
          </p>
          <p>
            當完兵併工作後也逐漸覺得，技術上不會的、不懂的其實並不是最困難的事，去找API或是Stackflow總會有辦法的，但面對抉擇的時候要理解會錯過不再來的絕大多數都是要好好珍惜的最重要的事。
          </p>
          <p>
            對於現在的我而言就是可以衝刺的年輕身體與還能犯錯的年資，所以才會積極再報名第二次培訓計畫讓自己的時間更有意義。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>開發時的技術心得</h3></div>
        <div class="panel-body">
          <p>
            由於申請網頁需要放置到github上呈現，與之前單純靜態式HTML網頁不同，這次打算使用Angular進行開發並加載PrimeNg等多種套件的狀況下，開始研究起了如何將專案部屬到github上，畢竟工作中是放在公司測試機上面進行呈現。<br />
            也因為這類的問題基本上大家都有遇到過吧，很快就Google到相關的技術文章與套件，在進行調適與除錯之後順利的進行了自動化佈署至github上，在這個過程中主要是了解到自己與之前的不同，或許還在彭彭老師說的在開發者心態的沙漠或低谷，但回頭看看自己這將近一年的歷程(中間還有當兵的時間)還是能感覺到自己的不同與成長。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>至今為止</h3></div>
        <div class="panel-body">
          <p>
            快要兩年前的事情，我可能要先努力想想當初做的哪些努力:))現在回頭看應該有:<br />
            1. 被迫中斷了培訓計畫的進行後，不斷的找願意接受未服兵役的公司。<br />
            2.
            在投了將近40-50份履歷後依舊不氣餒，在每一次面試後都吸收給予的意見與批評並活用於下次。<br />
            3.
            在公司中積極吸收知識與應用，下班後將筆電帶回家完善自己的專案與優化自己的code。<br />
            4. 在兵役第二階段，緊抓自習時間看完《Clean Code》程式規範書。<br />
            未來會利用這次的培訓計畫機會來發展自己的Side
            project、設定讀書計畫將乳牛本閱讀完並做好心得整理、制定每周計畫與每月計畫刷LeetCode。
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>其他想說的事</h3></div>
        <div class="panel-body">
          <p>果然對於當初沒辦法一起走到第三階段拿到結業證明還是很不甘心啊。</p>
        </div>
      </div>
    </div>
  </div>
</div>
